# Ignore everything by default
/*

# Unignore specific root files
!/.gitignore
!/README.md
!/requirements.txt

# Unignore tracked directories
!/train_data/
!/web/

# Ignore large files (>100MB) that fail on GitHub push
*.zip
*.csv
*.safetensors
*.bin
*.pt
__pycache__/
*.pyc
*.log
.DS_Store
.vscode/
.sixth/
