# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment variables & virtual env
.env
.venv
venv/
ENV/

# Editors
.vscode/
.idea/
*.swp
*.swo

# Datasets (Heavy raw files)
data/datasets/
preprocessed_welfake.csv

# Application files (Dynamic)
data/history.json
data/uploads/*
!data/uploads/.gitkeep

# Model weights and models
data/models/english/bert_model/
data/models/english/bert_tokenizer/
data/models/vietnamese/phobert_model/
*.pkl
*.pth
*.h5

data/models/vietnamese/bert_model/
data/models/vietnamese/bert_tokenizer/
*.zip
*.safetensors
*.keras
